.log {
  width: 100%;
}
.her {
  width: 1200px;
  height: 42px;
  margin: 0 auto;
}
.art {
  width: 1200px;
  margin: 100px auto;
  padding: 0;
}
.bloc {
  width: 700px;
  margin: 0 100px;
}
.p {
  width: 51%;
  height: 30px;
  font-size: 30px;
  margin: 20px auto;
  margin-bottom: 20px;
}
